/* General styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }

  h2 {
    font-size: 2rem;
  }

  ul,ol,dl,p {
    font-size: 1.5rem;
  }

  ul.circle {
    list-style-type: circle;
  }

  li, p {
    line-height: 1.5;
  }

  /* Unordered list styles */

  ul {
    padding-left: 2rem;
    list-style-type: none;
  }

  ul li {
    padding-left: 2rem;
    background-image: url(star.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

  /* Ordered list styles */

  ol {
    list-style-type: upper-roman;
  }

  /* Description list styles */

  dd, dt {
    line-height: 1.5;
  }

  dt {
    font-weight: bold;
  }

  .alternative {
    color: blue;
    text-decoration: underline;
  }

  .popup {
    width: 200px;
    height: 100px;
    left: 40px;
    background-color: rgb(202, 199, 199);
    border-radius: 20px;
    border: 2px solid blue;
    z-index: 5;
    position:relative;
    display: none;
  }

  .popup .contents {
    position: relative;
    left: 10%;
    width: 80%;
    top: 10%;
    height: 80%;
  }

  .popup .contents p {
    font-weight: bold;
  }
